
<div class="main">
        <div class="banner"><img src="assets/image/drone-banner.jpg" alt=""></div>
        <div class="bar">
            <input type="checkbox" hidden class="checkbox-persudo" name="menu" id="menu-icon-id">
           <label for="menu-icon-id" class="menu-icon center" ><img style="width: 32%;" src="assets/image/icon-menu.png" alt="icon-menu"></label>
           <label for="menu-icon-id" class="overlay"></label>
           <div class="nav-bar">
               <div class="nav-bar-items">Get Location</div>
               <div class="nav-bar-items">Take off and land</div>
               <div class="nav-bar-items">Fly mission and back</div>
               <div class="nav-bar-items">Fly mission and not back</div>
            </div>
            <div class="log-out-icon center"><img style="width: 32%;" src="assets/image/logout.png" alt="log-out-icon"></div>
            <div class="side-bar">
                <hr/>
                <label><h4>Device</h4></label>
                <label for="menu-icon-id" class="side-bar-items" (click)="addNewDrone()">Add New Drone</label>
                <label for="menu-icon-id" class="side-bar-items">View List Drone</label>
                <label for="menu-icon-id" class="side-bar-items">Set Up Mission</label>
                <hr/>
                <label><h4>Customer</h4></label>
                <label for="menu-icon-id" class="side-bar-items">Add New Customer</label>
                <label for="menu-icon-id" class="side-bar-items">View Customer</label>
            </div>
            
        </div>
        <div class="content"></div>
    </div>


